/* Three types of CSS:
h4 {
    background-color: green;
    color: red;
    height: 200px;
    width: 100%;
    margin: 50px;
    padding: 25px;
    border: 5px solid yellow;
    font-size: 30px;
}

*/
/* Font-famly 
p {
    color: gold;
    font-family: sans-serif;
    padding: 25px;
    margin: 20px;
    border: 5px solid rebeccapurple;

}*/
/* Font-family
h4 {
    color: green;
    font-family: serif;
    font-style: italic;
    font-weight: 700;
    padding: 25px;
    margin: 20px;
    border: 5px solid rebeccapurple;

}*/
/* Text-decoration 

h1, h2, h3 {
    font-family: Ariel;
    background-color: salmon;
    color: seashell;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    margin: 50px;
    padding: 25px;
    text-decoration: overline;
    Options:
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: none;

}*/
/* Text - transform 
h2, h3 {
    text-transform: capitalize;
    margin: 50px;
    padding: 25px;
   /* text-decoration: overline;
    
    text-decoration: underline;
    text-decoration: line-through;
    letter-spacing: 10px;
    word-spacing: 15px;
    font-weight: bold;
    font-size: 50px;
    background-color: green;
    color: red;
    width: 900px;
    height: 200px;

*/

/* text-align: ; & line-height: ;


h1, p {
    
    font-size: 35px;
    line-height: 30px;
    text-align: center;
    option:
    text-align: justify;
    text-align: right;

    margin: 50px;
    padding: 25px;
    border: 5px red dotted;
}
*/

/* List-style */
ul {
    list-style: disc;
    /*list-style: circle;
    list-style: square;
    list-style: none;
    list-style-image: url(images/);*/
}
/*
ol {
    list-style-type: lower-roman;
    list-style-type: lower-alpha;
    
}*/
/* Class
h1 {
    background-color: gold;
    color: red;
    text-transform: uppercase;
    width: 1100px;
    height: 150px;
    margin: 25px;
    padding: 25px;
    border: 15px red solid;

}



p {
    background-color: green;
    color: red;
    text-transform: capitalize;
    width: 1100px;
    height: 150px;
    margin: 25px;
    padding: 25px;
    border: 15px red solid;

}
.lorem {
    color: pink;
}

*/

h1 {
    background-color: green;
    color: red;
    margin: 50px;
    padding: 25px;
    border: 25px solid red;
}

#special {
    background-color: red;
    color: green;
    margin: 50px;
    padding: 25px;
    border: 25px solid gold;

}

.important {
    background-color: green ;
    color: hotpink;
    margin: 50px;
    padding: 25px;
    border: 25px solid gold;


}

.bottom {
    background-color: grey;
    color: green;
    margin: 50px;
    padding: 25px;
    border: 25px solid gold;


}










































