/* Three types of CSS:
h4 {
    background-color: green;
    color: red;
    height: 200px;
    width: 100%;
    margin: 50px;
    padding: 25px;
    border: 5px solid yellow;
    font-size: 30px;
}

*/
/* Font-famly */
p {
    color: gold;
    font-family: sans-serif;
    padding: 25px;
    margin: 20px;
    border: 5px solid rebeccapurple;

}
/* Font-family
h4 {
    color: green;
    font-family: serif;
    font-style: italic;
    font-weight: 700;
    padding: 25px;
    margin: 20px;
    border: 5px solid rebeccapurple;

}*/
/* Text-decoration */

h1, h2, h3 {
    font-family: Ariel;
    background-color: salmon;
    color: seashell;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    margin: 50px;
    padding: 25px;
    
}













